* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: url("../../public/fonts/Pretendard/Pretendard-Thin.otf") format('opentype');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url("../../public/fonts/Pretendard/Pretendard-SemiBold.otf") format('opentype');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url("../../public/fonts/Pretendard/Pretendard-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'Pretendard-Mideum';
    src: url("../../public/fonts/Pretendard/Pretendard-Medium.otf") format('opentype');
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url("../../public/fonts/Pretendard/Pretendard-Light.otf") format('opentype');
}

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url("../../public/fonts/Pretendard/Pretendard-ExtraLight.otf") format('opentype');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url("../../public/fonts/Pretendard/Pretendard-ExtraBold.otf") format('opentype');
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url("../../public/fonts/Pretendard/Pretendard-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url("../../public/fonts/Pretendard/Pretendard-Black.otf") format('opentype');
}
