[build]
  builder = "NIXPACKS"
  buildCommand = "npm install"

[deploy]
  startCommand = "node src/server.js"
  healthcheckPath = "/api/health"
  restartPolicyType = "ON_FAILURE"
  restartPolicyMaxRetries = 5

[variables]
  PORT = "3001"
  NODE_ENV = "production"
