.login {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: url('/Images/loginBG.svg');
  background-size: cover; /* 또는 contain */
  background-position: center; /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복하지 않도록 설정 */

  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  .login-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 784px;
    height: 408px;
    background: #313339;
    border-radius: 5px;
    z-index: 1;

    .login-form {
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .mainTextBox {
        margin-top: 36px;

        h1 {
          text-align: center;
          color: white;
          font-size: 24px;
          font-family: Pretendard-Mideum;
          margin-bottom: 8px;
        }

        h2 {
          text-align: center;
          color: #b6b9c1;
          font-size: 16px;
          font-family: 'Pretendard-Light';
        }
      }

      .lg-inputBox {
        margin-top: 20px;

        .forgot {
          margin-top: 2px;
          font-family: Pretendard-Mideum;
          font-size: 14px;
          color: #01a8fb;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .login-bottom {
        p {
          margin-top: 10px;
          color: rgba(182, 185, 193, 0.75);
          font-family: Pretendard-Regular;
          font-size: 14px;
          span {
            cursor: pointer;
            color: #01a8fb;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .qr-box {
      display: flex;
      margin-right: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .QR {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 180px;
        background: #fff;
        border-radius: 5px;
      }

      h1 {
        margin-top: 25px;
        color: white;
        text-align: center;
        font-size: 24px;
        font-family: Pretendard-Mideum;
      }

      h2 {
        margin-top: 8px;
        line-height: 20px;
        color: rgba(182, 185, 193, 0.93);
        text-align: center;
        font-size: 16px;
        font-family: Pretendard-Regular;

        span {
          font-family: Pretendard-SemiBold;
        }
      }

      p {
        margin-top: 14px;
        font-size: 14px;
        color: #01a8fb;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
