.server-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 72px;
  height: 100vh;
  align-items: center;
  background: #1d1f23;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 99;
  scrollbar-width: none;

  .homeBox {
    display: flex;
    margin-top: 1.2rem;
    width: 100%;
    height: 5rem;
    gap: 0.8rem;
    align-items: center;


    .focus {
      width: 0.4rem;
      height: 4rem;
      background: white;
      border-radius: 0 4px 4px 0;
    }

    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.8rem;
      height: 4.8rem;
      background: #5865f2;
      border-radius: 50%;
      transition: border-radius 0.3s;

      &:hover {
        border-radius: 1.4rem;
      }
    }
  }
}

.server-container::-webkit-scrollbar {
  display: none;
}
