.base-container {
  position: relative;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24rem;
  height: 100vh;
  background: #2b2d31;

  .selectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
    width: 100%;
    margin-right: 1px;
    .bFlex {
      display: flex;
      gap: 1.5rem;
      margin-top: 2px;
      width: 200px;
      height: 4.2rem;
      padding: 0 15px;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;

      &:active {
        background: #404249 !important;
        svg, h2 {
          color: white !important;
        }
      }

      &.select {
          background: #35373c;
          svg {
            color: white;
          }

          h2 {
            color: white;
          }
      }

      svg {
        width: 2.4rem;
        color: #80848e;
      }

      h2 {
        color: #80848e;
        font-size: 1.6rem;
        font-family: Pretendard-Mideum;
      }

      &:hover {
        background: #35373c;
        svg {
          color: white;
        }

        h2 {
          color: white;
        }
      }
    }
  }

  .friendBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
    position: relative;
    width: 85%;

    .plus-dm {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 5px;

      &:hover {
        p {
          color: #c9c9c9;
        }
      }

      p {
        color: #80848e;
        font-size: 1.2rem;
        font-family: Pretendard-Mideum;
      }

      svg {
        color: #80848e;
        cursor: pointer;
      }
    }
  }
}
