.active-container {
  position: relative;
  display: flex;
  width: 27%;
  flex-direction: column;
  padding: 2.4rem 1.8rem;

  h1 {
    color: white;
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: Pretendard-Bold;
  }

  .subBox {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 3.2rem;
    justify-content: center;

    h2 {
      text-align: center;
      color: white;
      font-size: 1.6rem;
      line-height: 2rem;
      font-family: Pretendard-Mideum;
    }

    h3 {
      margin-top: 0.4rem;
      text-align: center;
      color: #b4b8c0;
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-family: Pretendard-Regular;
    }
  }
}
