.detail-container {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  width: calc(100% - 31rem);
  height: 4.8rem;
  background: #313339;
  border-bottom: 1px solid #232628;

}
