 .profileContainer {
    display: flex;
    width: 20.6rem;
    height: 4.2rem;
    border: none;
    border-radius: 4px;
   justify-content: space-between;
   align-items: center;
   padding: 0 0.8rem;
   cursor: pointer;
   margin-bottom: 2px;

   &.selected {
     background: #404249 !important;
   }

   &:active {
     background: #404249 !important;
   }

   &:hover {
     background: #35373c;
     svg {
       display: flex;
     }
   }

    .profileBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.2rem;

      img {
        border-radius: 100%;
      }

      .friendText {
        color: #899298;
        font-size: 1.6rem;
        font-family: 'Pretendard-Regular';
      }
    }

   svg {
     display: none;
   }
  }
