.register {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: url('/Images/loginBG.svg');
  background-size: cover; /* 또는 contain */
  background-position: center; /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복하지 않도록 설정 */

  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 682px;
    background: #313339;
    margin: 32px;
    border-radius: 5px;
    z-index: 1;

    .mainText {
      margin-top: 32px;
      margin-bottom: 20px;
      text-align: center;
      color: white;
      font-size: 24px;
      font-family: Pretendard-SemiBold;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .term {
      color: #b6b9c1;
      margin-top: 8px;
      margin-right: 20px;
      text-align: left;
      line-height: 16px;
      font-family: Pretendard-Regular;
      font-size: 12.5px;

      span {
        color: #01a8fb;
        cursor: pointer;
      }
    }

    .p-login {
      margin-top: 20px;
      margin-left: 28px;
      font-size: 14px;
      font-family: Pretendard-Mideum;
      color: #01a8fb;
    }
  }

  .promo {
    display: flex;
    width: 420px;
    margin-top: 10px;
    justify-content: start;
    align-items: center;
    gap: 10px;

    input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid rgba(182, 185, 193, 0.75);
      cursor: pointer;
      border-radius: 6px;

      &:checked {
        background: #5865f2;
        border: none;
      }

      &:checked:after {
        content: '';
        position: absolute;
        margin-bottom: 4px;
        width: 6px; /* 체크 모양의 너비 */
        height: 12px; /* 체크 모양의 높이 */
        border: solid white; /* 체크 모양 색상 */
        border-width: 0 2px 2px 0;
        transform: rotate(45deg); /* 체크 모양 회전 */
      }
    }

    p {
      color: rgba(182, 185, 193, 0.75);
      line-height: 16px;
      font-family: 'Pretendard-Mideum';
      font-size: 12px;
    }
  }
}
